@page "/addwhisky"
@using whiskyserverapp.Data
@inject NavigationManager NavigationManager
@inject WhiskyService WhiskyService
<h1>Add Whisky</h1>

<EditForm Model="@whisky" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <InputText class="col-sm-8" @bind-Value="whisky.Name" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type:</label>
        <InputText class="col-sm-8" @bind-Value="whisky.Type" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Age:</label>
        <InputNumber class="col-sm-8" @bind-Value="whisky.Age" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Alcohol:</label>
        <InputNumber class="col-sm-8" @bind-Value="whisky.Alc" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Aquired:</label>
        <InputDate class="col-sm-8" @bind-Value="whisky.Aquired" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price:</label>
        <InputNumber class="col-sm-8" @bind-Value="whisky.Price" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Notes:</label>
        <InputTextArea class="col-sm-8" @bind-Value="whisky.Notes" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Distilled:</label>
        <InputDate class="col-sm-8" @bind-Value="whisky.Distilled" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Botteled:</label>
        <InputDate class="col-sm-8" @bind-Value="whisky.Botteled" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Attributes:</label>
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-secondary @((whisky.ArtColor ? "active" : ""))"
                @onclick="() => ToggleColor()">Art. Color</button>
            <button type="button" class="btn btn-secondary @((whisky.UnChillfiltered ? "active" : ""))"
                @onclick="() => ToggleChill()">Un-Chillfiltered</button>
            <button type="button" class="btn btn-secondary @((whisky.CaskStrength ? "active" : ""))"
                @onclick="() => ToggleCS()">Cask Strength</button>
            <button type="button" class="btn btn-secondary @((whisky.SingleCask ? "active" : ""))"
                @onclick="() => ToggleSC()">Single Cask</button>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Image:</label>
        <InputFile class="col-sm-8" OnChange="@OnInputFileChange"></InputFile>
    </div>
    <button disabled="@submitDisabled" class="btn btn-primary" type="submit">
        Add Whisky
        @if(submitDisabled){
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        }
        </button> @error
    <br />
</EditForm>

@code {
    private Whisky whisky = new Whisky();
    private string error;
    private bool submitDisabled = false;

    private async Task HandleValidSubmit()
    {
        whisky.Id = Guid.NewGuid().ToString();
        await WhiskyService.AddWhisky(whisky);
        NavigationManager.NavigateTo("/");
    }
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            submitDisabled = true;
            var files = await WhiskyService.SaveImage(e.File);
            whisky.ImageUrl = files.Item1;
            whisky.ImageUrlTh = files.Item2;
            submitDisabled = false;
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
    private async Task ToggleColor()
    {
        whisky.ArtColor = !whisky.ArtColor;
    }

    private async Task ToggleChill()
    {
        whisky.UnChillfiltered = !whisky.UnChillfiltered;
    }

    private async Task ToggleCS()
    {
        whisky.CaskStrength = !whisky.CaskStrength;
    }
    private async Task ToggleSC()
    {
        whisky.SingleCask = !whisky.SingleCask;
    }

}
