@page "/archive"
@using Data
@inject WhiskyService WhiskyService

@if (_whiskys == null)
{
    <h1>Archive</h1>
}
else
{
    <h1>Archive with @_whiskys.Count Whisk(e)ys</h1>
}

@if (_whiskys == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Image</th>
                    <th class="text-right" scope="col">Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var whisky in _whiskys)
                {
                    <tr>
                        <th scope="row"><a href="details/@whisky.Id">@whisky.Name</a></th>
                        <td>@whisky.Type; <nobr>@whisky.Alc% ABV</nobr>
                            @if (whisky.ArtColor)
                            {
                                <span class="badge badge-secondary">Colored</span>
                            }
                            @if (whisky.UnChillfiltered)
                            {
                                <span class="badge badge-secondary">Un-Chillfiltered</span>
                            }
                        </td>
                        <td><img height="150px" src="@whisky.ImageUrlTh"></td>
                        <td class="text-right">@whisky.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Whisky> _whiskys;


    protected override async Task OnInitializedAsync()
    {
        var whiskys = await WhiskyService.GetWhiskys(true);
        whiskys.RemoveAll(p => !p.Finished);
        _whiskys = whiskys;
    }

}
