@page "/archive"
@using Data
@inject WhiskyService WhiskyService
@inject IJSRuntime JSRuntime
@implements IDisposable

@if (_whiskys == null)
{
    <h1>Archive</h1>
}
else
{
    <h1>Archive with @_whiskys.Count Whisk(e)ys</h1>
}

@if (_whiskys == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table" id="whiskyarchive" style="display:none">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Image</th>
                    <th class="text-right" scope="col">Age</th>
                    <th class="text-center" scope="col">Rating</th>
                    <th class="text-right" scope="col">Last Pour</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var whisky in _whiskys)
                {
                    <tr>
                        <th scope="row"><a href="details/@whisky.Id">@whisky.Name</a></th>
                        <td>@whisky.Type; <nobr>@whisky.Alc% ABV</nobr>
                            @if (whisky.ArtColor)
                            {
                                <span class="badge badge-secondary" title="Artificial Color">AC</span>
                            }
                            @if (whisky.UnChillfiltered)
                            {
                                <span class="badge badge-secondary" title="Un-Chillfiltered">UCF</span>
                            }
                            @if (whisky.CaskStrength)
                            {
                                <span class="badge badge-secondary" title="Cask Strength">CS</span>
                            }
                            @if (whisky.SingleCask)
                            {
                                <span class="badge badge-secondary" title="Single Cask">SC</span>
                            }
                        </td>
                        <td><img height="150px" src="@whisky.ImageUrlTh"></td>
                        <td class="text-right">@whisky.Age</td>
                        <td class="text-center">
                            @whisky.Rating
                        </td>
                        <td class="text-right" scope="col">
                            <nobr>@whisky.LastPour?.ToLocalTime().ToString("yy-MM-dd HH:mm")</nobr> @whisky.GetPoursString()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Whisky> _whiskys;


    protected override async Task OnInitializedAsync()
    {
        var whiskys = await WhiskyService.GetWhiskys(true);
        _whiskys = whiskys;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeAsync<object>("DataTableArchiveIndex", "#whiskyarchive");
    }
    void IDisposable.Dispose()
    {
        JSRuntime.InvokeAsync<object>("TestDataTablesRemove", "#whiskyarchive");
    }

}
