@page "/"
@using Data
@inject WhiskyService WhiskyService

@if (_whiskys == null)
{
    <h1>Overview</h1>
}
else
{
    <h1>Overview @_whiskys.Count Whisk(e)ys</h1>
}

@if (_whiskys == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Image</th>
                <th>Age</th>
                <th>Last Pour</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var whisky in _whiskys)
            {
                <tr>
                    <td><a href="details/@whisky.Id">@whisky.Name</a></td>
                    <td>@whisky.Type</td>
                    <td><img height="150px" src="@whisky.ImageUrlTh"></td>
                    <td>@whisky.Age</td>
                    <td>@whisky.LastPour</td>
                    <td><button @onclick="() => PourOne(whisky.Id)" type="button" class="btn btn-secondary">Pour One</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Whisky> _whiskys;

    protected override async Task OnInitializedAsync()
    {
        await WhiskyService.CleanImages();
        _whiskys = await WhiskyService.GetWhiskys();
    }

    private async void PourOne(string id)
    {
        _whiskys = await WhiskyService.PourOne(id);
        StateHasChanged();
    }
}
