@page "/"
@using Data
@inject WhiskyService WhiskyService

@if (_whiskys == null)
{
    <h1>Overview</h1>
}
else
{
    <h1>Overview of @_whiskys.Count Whisk(e)ys</h1>
}

@if (_whiskys == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Age</th>
                    <th class="text-right" scope="col">Price</th>
                    <th scope="col">Image</th>

                    <th scope="col">Last Pour</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var whisky in _whiskys)
                {
                    <tr>
                        <th scope="row"><a href="details/@whisky.Id">@whisky.Name</a></th>
                        <td>@whisky.Type; @whisky.Alc% ABV
                            @if (whisky.ArtColor)
                            {
                                <span class="badge badge-secondary">Colored</span>
                            }
                            @if (whisky.UnChillfiltered)
                            {
                                <span class="badge badge-secondary">Un-Chillfiltered</span>
                            }
                        </td>
                        <td>@whisky.Age</td>
                        <td class="text-right">@whisky.Price?.ToString("###.00") €</td>
                        <td><img height="150px" src="@whisky.ImageUrlTh"></td>
                        <td>@whisky.LastPour?.ToString("yyyy-MM-dd") @whisky.GetPoursString()</td>
                        <td><button @onclick="() => PourOne(whisky.Id, whisky.Name, whisky.Type)" type="button" class="btn btn-secondary">Pour
                                One</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Is it that time of day again?</p>
                    <em>@_name</em>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick=@ModalOk>Pour me one!</button>
                </div>

            </div>
        </div>
    </div>
}

@code {
    bool showModal = false;
    private List<Whisky> _whiskys;
    private string _id;
    private string _name;

    protected override async Task OnInitializedAsync()
    {
        await WhiskyService.CleanImages();
        _whiskys = await WhiskyService.GetWhiskys();
    }

    private async void PourOne(string id, string name, string type)
    {
        showModal = true;
        _id = id;
        _name = $"{name} {type}";

    }
    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    async Task ModalOk()
    {
        _whiskys = await WhiskyService.PourOne(_id);
        StateHasChanged();
        showModal = false;
    }
}
